  
body {
    background-color: #411818;
    color: #301515;
    font-family: cursive,-apple-system ,Verdana,"Open Sans", Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 15px;
  }
  
  .container {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-content { background-color: #ffffff; }
   
  #intro-img {
    background-image: url(./img/back11.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px;
  
  }
  
  .text-white { color: rgb(255, 255, 255); }
 
  .page-header-container { text-align: center; }

  .page-header {
    display: inline-block;
    vertical-align: baseline;
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 2.1rem;
    font-weight: 800;
    font-size: 40px;
    font-family:cursive;
  }
   
  .section-header {
    color: #410d0d;
    text-align: center;
    font-weight: 550;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  table {
    width: 100%;
    border-spacing: 0px;
  }
       
  td {
    text-align: center;
    padding: 10px 15px;
  }
 
  .text-left { text-align: left; }
   
  th {
    color: #ffffff;
    font-weight: 400;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
  }
 
  tr:nth-child(odd) { background-color:  #4118181c; }
  tr:nth-child(even) { background-color: #fdfdfd; }
  tr.tr-header {
    background-color:  #41181894;
    height: 50px;
  }
   
  .section {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
  
  .section-small {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
  }
 
  p {
    font-size: 1rem;
    line-height: 1.7;
  }

  img { max-width: 100%; }
  figure { margin: 0; }
  figcaption { text-align: center; }

  figcaption span {
    display: block;
    color: #351212;
    font-size: 18px;
  }
   
  .item-name {
    margin-top: 20px;
    margin-bottom: 10px;
  }
    
  .special-items {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .special-item {
    padding-left: 15px;
    padding-right: 15px;
  }
     
  hr {
    width: 60%;
    border: 0.5px solid #ccc;
  }
 
  .contact-link {
    color: #d8d7d7;
    font-weight: 600;
    text-decoration: none;
  }
  
  a { transition: all 0.3s ease; }
  .contact-link:hover { color: #000000; }
  
  .footer-text {
    font-size: 0.9rem;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
 
  .footer-link {
    color: #fff;
    text-decoration: none;
  }

  .footer-link:hover { color: #f5adade0; }
